<div class="container pt-3">
  <div class="mt-2 p-1 bg-primary text-white rounded text-center">
    <h1>ToDo App</h1>
  </div>

  <div class="row">
    <div class="col-5 pt-2">
      <input type="text" class="form-control" [(ngModel)]="taskObj.task" placeholder="Task Name">
    </div>
    <div class="col-5 pt-2">
      <input type="text" class="form-control" [(ngModel)]="taskObj.completed" placeholder="Status">
    </div>
  </div>

  <div class="row pt-2">
    <div class="col">
      @if (taskObj.id == 0){
        <button class="btn btn-success" (click)="addTodoTask()">Add Task</button>
      } @else {
        <button class="btn btn-warning" (click)="updateTask()">Update Task</button>
      }
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-12">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th><strong>Index</strong></th>
            <th><strong>Task Name</strong></th>
            <th class="text-center"><strong>Status</strong></th>
            <th><strong>Edit</strong></th>
            <th><strong>Delete</strong></th>
          </tr>
        </thead>
        <tbody>
          @for (item of taskList; track 'id') {
          <tr>
            <td style="text-align: center;">{{$index + 1}}</td>
            <td>
                  {{item.task}}
            </td>
            <td>{{item.completed}}</td>
            <td class="text-center">
              <button class="btn btn-primary btn-sm rounded-btn" (click)="editTask(item)">Edit</button>
            </td>
            <td class="text-center">
              <button class="btn btn-danger btn-sm ms-1" (click)="deleteTask(item.id)">Delete</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>